In [1]:
# Importing Spark libs.
from pyspark.sql import SparkSession
from pyspark.sql.functions import min, max, avg, count, expr, array_contains, col, explode_outer, explode, struct
from pyspark.sql import DataFrame, functions as F
from pyspark.sql import types as T
from pyspark.sql.window import Window
from pyspark.sql.types import ArrayType, StructType, StringType, DoubleType, TimestampType

# Importing Python Data Stat. and vis. libs.
import pandas as pd
import matplotlib.pyplot as plt


# For error handling and utilities 
import json
import requests
import urllib.request
from io import StringIO
from urllib.parse import urlparse
import sys
import os
import tempfile

In [2]:
url_oag = "https://raw.githubusercontent.com/JM-AE/Airport-Flight-Data/refs/heads/main/oag.json"

In [3]:
spark = SparkSession.builder.master("local[*]").appName("AirportFlightDataViz").getOrCreate()

24/10/14 22:33:10 WARN Utils: Your hostname, codespaces-358acb resolves to a loopback address: 127.0.0.1; using 10.0.1.36 instead (on interface eth0)
24/10/14 22:33:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/14 22:33:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/10/14 22:33:12 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/10/14 22:33:31 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [4]:
"""
1. Load a dataset simulating airport and flight data - adsb.json, oag.json files.
General functions to download data from URL and load it into a Spark DataFrame.
"""

def load_data(url):
    """Load data from a given URL into a Spark DataFrame."""
    
    # Step 1: Extract the file name from the URL
    file_name = os.path.basename(urlparse(url).path)
    
    # Step 2: Download the data
    data = stream_download(url)
    if data is None:
        return None  

    # Step 3: Analyze the structure (optional)
    analyze_json_structure(data)
    
    # Step 4: Try loading into Spark without saving to disk
    try:
        df = load_spark_dataframe_from_memory(data)
        print("#4# DataFrame loaded successfully from memory #4#")
    except Exception as e:
        print(f"#4# Error loading DataFrame from memory: {str(e)} #4#")
        print("#4# Attempting to load DataFrame using file-based approach #4#")

        # Step 4.1: Fallback: Save to a temporary file and read into Spark
        tmp_file_path = save_to_temp_file(data, file_name)
        if tmp_file_path is None:
            return None

        # Step 4.2: Validate and load the DataFrame from the file
        df = load_spark_dataframe(tmp_file_path)
        if df is None:
            return None  
    
    # Step 5: Show the DataFrame
    print("#5# DataFrame 1st line #5#")
    df.show(1)
    return df

def stream_download(url):
    """Download data from the URL and return it as a string (JSON)."""
    try:
        response = requests.get(url, stream=True)
        if response.status_code == 200:
            print(f"#1# Data from {url} successfully loaded #1#")
            return response.text  # Return the raw JSON data as a string
        else:
            print(f"#1# Failed to load {url}. Status code: {response.status_code} #1#")
            return None
    except requests.RequestException as e:
        print(f"#1# Error while downloading data from {url}: {str(e)} #1#")
        return None

def analyze_json_structure(data):
    """Analyze the structure of the JSON data and print a sample."""
    try:
        json_data = json.loads(data)
        if isinstance(json_data, dict):
            keys = list(json_data.keys())
            print(f"#2# Top-level keys found: {keys} #2#")
        elif isinstance(json_data, list):
            print(f"#2# Sample data from the list: {json.dumps(json_data[:1], indent=4)} #2#")
        else:
            print("#2# No valid data structure found. #2#")
    except json.JSONDecodeError:
        print("#2# Failed to parse JSON structure. Skipping analysis. #2#")

def save_to_temp_file(data, file_name):
    """Save the JSON string to a temporary file and return the file path."""
    try:
        tmp_file_path = os.path.join(tempfile.gettempdir(), file_name)
        with open(tmp_file_path, "w") as f:
            f.write(data)
        print(f"#3# Temporary file {file_name} saved #3#")
        return tmp_file_path
    except Exception as e:
        print(f"#3# Error saving temporary file {file_name}: {str(e)} #3#")
        return None

def load_spark_dataframe_from_memory(data):
    """Load the JSON data into a Spark DataFrame from an in-memory string."""
    try:
        json_rdd = spark.sparkContext.parallelize([data])
        df = spark.read.json(json_rdd)
        return df
    except Exception as e:
        print(f"#4# Error loading DataFrame from memory: {str(e)} #4#")
        raise

def load_spark_dataframe(file_path):
    """Load the JSON data from a file into a Spark DataFrame with error handling."""
    try:
        df = spark.read.json(file_path)
        print("#4# DataFrame loaded successfully from file #4#")
        return df
    except Exception as e:
        print(f"#4# Error loading DataFrame from file: {str(e)} #4#")
        print("#4# Attempting to load DataFrame using multiline option #4#")
        
        try:
            df = spark.read.option("multiline", "true").json(file_path)
            print("#4# DataFrame loaded successfully in multiline option #4#")
            return df
        except Exception as e:
            print(f"#4# Error loading DataFrame in multiline option: {str(e)} #4#")
            return None

In [5]:
df_oag = load_data(url_oag)

#1# Data from https://raw.githubusercontent.com/JM-AE/Airport-Flight-Data/refs/heads/main/oag.json successfully loaded #1#
#2# Top-level keys found: ['data', 'paging'] #2#

#4# DataFrame loaded successfully from memory #4#
#5# DataFrame 1st line #5#
+--------------------+--------------------+
|                data|              paging|
+--------------------+--------------------+
|[{{773, NULL}, {{...|{10, https://api....|
+--------------------+--------------------+

In [11]:
def flatten_json(df):
    """Flatten a DataFrame with nested structures into a 2D structure."""
    
    # Compute Complex Fields in Schema   
    complex_fields = dict([(field.name, field.dataType)
                           for field in df.schema.fields
                           if isinstance(field.dataType, (T.ArrayType, T.StructType))])

    counter = 1  

    while complex_fields:
        col_name = list(complex_fields.keys())[0]
        print(f"{counter}: {col_name} of type {type(complex_fields[col_name])}")
        counter += 1  

        # If StructType, convert all sub-elements to columns.
        if isinstance(complex_fields[col_name], T.StructType):
            expanded = [F.col(col_name + '.' + k).alias(col_name + '_' + k) 
                        for k in [n.name for n in complex_fields[col_name]]]
            df = df.select("*", *expanded).drop(col_name)

        # If ArrayType, add the array elements as rows us the explode function    
        elif isinstance(complex_fields[col_name], T.ArrayType):    
            df = df.withColumn(col_name, explode_outer(col_name))

        # Recompute remaining complex fields in schema       
        complex_fields = dict([(field.name, field.dataType)
                               for field in df.schema.fields
                               if isinstance(field.dataType, (T.ArrayType, T.StructType))])

    return df

In [12]:
df_oag_d = df_oag.drop("paging")
dft1 = flatten_json(df_oag_d)

1: data of type <class 'pyspark.sql.types.ArrayType'>
2: data of type <class 'pyspark.sql.types.StructType'>
3: data_aircraftType of type <class 'pyspark.sql.types.StructType'>
4: data_arrival of type <class 'pyspark.sql.types.StructType'>
5: data_carrier of type <class 'pyspark.sql.types.StructType'>
6: data_codeshare of type <class 'pyspark.sql.types.StructType'>
7: data_departure of type <class 'pyspark.sql.types.StructType'>
8: data_segmentInfo of type <class 'pyspark.sql.types.StructType'>
9: data_serviceType of type <class 'pyspark.sql.types.StructType'>
10: data_statusDetails of type <class 'pyspark.sql.types.ArrayType'>
11: data_statusDetails of type <class 'pyspark.sql.types.StructType'>
12: data_arrival_airport of type <class 'pyspark.sql.types.StructType'>
13: data_arrival_date of type <class 'pyspark.sql.types.StructType'>
14: data_arrival_time of type <class 'pyspark.sql.types.StructType'>
15: data_codeshare_aircraftOwner of type <class 'pyspark.sql.types.StructType'>
16: data_codeshare_cockpitCrewEmployer of type <class 'pyspark.sql.types.StructType'>
17: data_codeshare_jointOperationAirlineDesignators of type <class 'pyspark.sql.types.ArrayType'>
18: data_codeshare_marketingFlights of type <class 'pyspark.sql.types.ArrayType'>
19: data_codeshare_marketingFlights of type <class 'pyspark.sql.types.StructType'>
20: data_departure_airport of type <class 'pyspark.sql.types.StructType'>
21: data_departure_date of type <class 'pyspark.sql.types.StructType'>
22: data_departure_time of type <class 'pyspark.sql.types.StructType'>
23: data_segmentInfo_intermediateAirports of type <class 'pyspark.sql.types.StructType'>
24: data_statusDetails_arrival of type <class 'pyspark.sql.types.StructType'>
25: data_statusDetails_departure of type <class 'pyspark.sql.types.StructType'>
26: data_statusDetails_equipment of type <class 'pyspark.sql.types.StructType'>
27: data_segmentInfo_intermediateAirports_iata of type <class 'pyspark.sql.types.ArrayType'>
28: data_statusDetails_arrival_actualTime of type <class 'pyspark.sql.types.StructType'>
29: data_statusDetails_arrival_airport of type <class 'pyspark.sql.types.StructType'>
30: data_statusDetails_arrival_estimatedTime of type <class 'pyspark.sql.types.StructType'>
31: data_statusDetails_departure_actualTime of type <class 'pyspark.sql.types.StructType'>
32: data_statusDetails_departure_airport of type <class 'pyspark.sql.types.StructType'>
33: data_statusDetails_departure_estimatedTime of type <class 'pyspark.sql.types.StructType'>
34: data_statusDetails_equipment_actualAircraftType of type <class 'pyspark.sql.types.StructType'>
35: data_statusDetails_arrival_actualTime_inGate of type <class 'pyspark.sql.types.StructType'>
36: data_statusDetails_arrival_actualTime_onGround of type <class 'pyspark.sql.types.StructType'>
37: data_statusDetails_arrival_estimatedTime_inGate of type <class 'pyspark.sql.types.StructType'>
38: data_statusDetails_arrival_estimatedTime_onGround of type <class 'pyspark.sql.types.StructType'>
39: data_statusDetails_departure_actualTime_offGround of type <class 'pyspark.sql.types.StructType'>
40: data_statusDetails_departure_actualTime_outGate of type <class 'pyspark.sql.types.StructType'>
41: data_statusDetails_departure_estimatedTime_offGround of type <class 'pyspark.sql.types.StructType'>
42: data_statusDetails_departure_estimatedTime_outGate of type <class 'pyspark.sql.types.StructType'>

In [13]:
dftd = dft1.dropDuplicates(["data_statusKey"])

In [14]:
pd = dftd.toPandas()
print(pd.shape)
pd

24/10/14 22:46:33 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

(10, 80)

,data_elapsedTime,data_flightNumber,data_flightType,data_scheduleInstanceKey,data_sequenceNumber,data_serviceSuffix,data_statusKey,data_aircraftType_iata,data_aircraftType_icao,data_arrival_terminal,...,data_statusDetails_arrival_estimatedTime_onGround_local,data_statusDetails_arrival_estimatedTime_onGround_utc,data_statusDetails_departure_actualTime_offGround_local,data_statusDetails_departure_actualTime_offGround_utc,data_statusDetails_departure_actualTime_outGate_local,data_statusDetails_departure_actualTime_outGate_utc,data_statusDetails_departure_estimatedTime_offGround_local,data_statusDetails_departure_estimatedTime_offGround_utc,data_statusDetails_departure_estimatedTime_outGate_local,data_statusDetails_departure_estimatedTime_outGate_utc
0,245,476,Scheduled,f769ad9943f71eaf190e39107f85815aa4bf3440961f20...,1.0,,224b0ebdf6f19879160010c86435ebf0ae6d42a05f62b6...,7M8,None,3,...,2023-10-03T11:39:00-04:00,2023-10-03T15:39:00+00:00,2023-10-03T08:12:00-04:00,2023-10-03T12:12:00+00:00,2023-10-03T07:54:00-04:00,2023-10-03T11:54:00+00:00,2023-10-03T08:15:00-04:00,2023-10-03T12:15:00+00:00,None,None
1,0,476,Unscheduled,None,NaN,None,2dabdd879800b7f30b3f3eef8c2f56dbae24eb542399b9...,None,E545,None,...,None,None,2023-10-03T08:37:00-04:00,2023-10-03T12:37:00+00:00,None,None,None,None,None,None
2,167,476,Scheduled,c0dd7369dd3e81cdccad73b23c5df35c68ad3a99f4ae6c...,1.0,,3d7496b198a37b5401841876ac9eabdacfa065f316417d...,738,None,,...,None,None,2023-10-03T06:12:00-06:00,2023-10-03T12:12:00+00:00,2023-10-03T05:54:00-06:00,2023-10-03T11:54:00+00:00,None,None,2023-10-03T06:03:00-06:00,2023-10-03T12:03:00+00:00
3,90,476,Scheduled,64cf9c774e3c3fb4a41b4486fd8c9a98b6d82480c8c28d...,1.0,,55a23dce3c3aa9976b6c70ce1554a88e075d64380c6891...,320,None,,...,2023-10-03T04:06:00+03:30,2023-10-03T00:36:00+00:00,2023-10-03T02:41:00+03:00,2023-10-02T23:41:00+00:00,2023-10-03T02:04:00+03:00,2023-10-02T23:04:00+00:00,None,None,2023-10-03T01:45:00+03:00,2023-10-02T22:45:00+00:00
4,0,476,Unscheduled,None,NaN,None,9e34394abe83142c5a8000197516822dc32bad97ea81ae...,None,B763,None,...,None,None,2023-10-03T05:09:00-04:00,2023-10-03T09:09:00+00:00,None,None,None,None,None,None
5,305,476,Scheduled,42fe92775283678d9221e60ba329ebe745c537164255f0...,1.0,,ad7e703e763f73a7c5f807140755e8626ebba7f7604641...,773,None,2,...,2023-10-03T07:15:00+09:00,2023-10-02T22:15:00+00:00,2023-10-03T00:43:00+07:00,2023-10-02T17:43:00+00:00,2023-10-03T00:31:00+07:00,2023-10-02T17:31:00+00:00,None,None,2023-10-03T00:15:00+07:00,2023-10-02T17:15:00+00:00
6,75,476,Scheduled,98693425486c83d73e79d610fea00b1dcda072e3131bab...,1.0,,af89e25495692a0bcd5e742c5239c71b6e74985bd3ef93...,73H,None,1,...,None,None,2023-10-03T09:56:00+09:00,2023-10-03T00:56:00+00:00,2023-10-03T09:46:00+09:00,2023-10-03T00:46:00+00:00,None,None,2023-10-03T09:45:00+09:00,2023-10-03T00:45:00+00:00
7,200,476,Scheduled,3c2fe081f722793ccab3d630a942bf39c2703716101c76...,1.0,,c1bbb6b086a6d38a0a97c39ae177ddb512719bf1e6e4f3...,320,None,,...,None,None,2023-10-03T08:57:00+01:00,2023-10-03T07:57:00+00:00,2023-10-03T08:38:00+01:00,2023-10-03T07:38:00+00:00,None,None,2023-10-03T08:31:00+01:00,2023-10-03T07:31:00+00:00
8,0,476,Unscheduled,None,NaN,None,c28e5c5bffc8a86d3a1aae702915ca39899e91d2ee131d...,None,B763,None,...,None,None,2023-10-03T07:40:00-04:00,2023-10-03T11:40:00+00:00,None,None,None,None,None,None
9,135,476,Scheduled,8e70c0c3d665cc249a70f27ca2efddccf5c904520873b7...,1.0,,fa3e07f019fe3dd03dc7ba02aac85bc874d023179f58fd...,320,None,1,...,None,None,2023-10-03T08:26:00+01:00,2023-10-03T07:26:00+00:00,2023-10-03T08:11:00+01:00,2023-10-03T07:11:00+00:00,None,None,2023-10-03T08:05:00+01:00,2023-10-03T07:05:00+00:00